@page
@model PrivacyModel
@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<div>
<p>This is web application was developed by:</p>
<p>Kate Turton | Project Manager</p>
<p>Matthew Driver | Lead Programmer</p>
<p>Vincent Assolutissimamente | Head Critical Lead Designer</p>
</div>

    <div class="card">
    	<img src="Images/Frontpic1.jpg" alt="Card Back">
        <img src="Images/Vinnypic1.jpg" class="img-top" alt="Card Front">
    </div>
