@page
@model PrivacyModel
@{
    ViewData["Title"] = "About us";
}

<div class = "main">
    <h1>@ViewData["Title"]</h1>

   <div>
    <p>This is web application was developed by:</p>
    <p>Kate Turton | Project Manager</p>
    <p>Matthew Driver | Lead Programmer</p>
    <p class="vinny">Vincent Assolutissimamente | Head Critical Lead Designer</p>
   </div>

    <div class ="cardHolder">


    <div class = "card" >
    	<img src="Images\Frontpic1.jpg" alt="Card Back" height ="150" width = "100">
        <img src="Images\Vinnypic1.jpg" class="img-top" alt="Card Front" height ="150" width = "100">
    </div>

    <div class = "card" >
   	    <img src="Images\Frontpic1.jpg" alt="Card Back" height ="150" width = "100">
        <img src="Images\Matt1.jpg" class="img-top" alt="Card Front" height ="150" width = "100">
    </div>

    <div class="card">
        <img src="Images\Frontpic1.jpg" alt="Card Back" height="150" width="100">
        <img src="Images\Kate1.jpg" class="img-top" alt="Card Front" height="150" width="100">
    </div>

    </div>

 <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Vincent</h2>
      <p>Brief description.</p>
    </div>   
  </div>
</div>