@page
@model ClutchCodersWebApp.Pages.BrowseModel
@{
}
<div class = "grid">	
										<div>
											<img src="Images/ProductImages/bmwM1000RRImage3.jfif" alt="" />
											<h2>£5600</h2>
											<p>BMW M1000RR</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
	
						
									<div>
										<img src="Images/ProductImages/HondaNaviImage3.jfif" alt="" />
										<h2>$7000</h2>
										<p>Honda Navi</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>	
	
						
									<div>
										<img src="Images/ProductImages/HondaFuryImage3.jfif" alt="" />
										<h2>£3000</h2>
										<p>Honda Fury</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
						
						
									<div>
										<img src="Images/ProductImages/HondaShadowImage3.jfif" alt="" />
										<h2>£6000</h2>
										<p>Honda Shadow</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
				
					
									<div>
										<img src="Images/ProductImages/bmwR18BImage3.jfif" alt="" />
										<h2>£3000</h2>
										<p>BMW R18B</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>	
					
</div>
