@page
@model IndexModel
@section Styles{
    <link rel="stylesheet" href="~/css/main.css" />
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PlaceHolder Index Page</h1>
    <p>  </p>
</div>
