@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
</head>

<body> 

<div class = "main">
<div class="text-center">
    <h1 class="display-4">HomePage</h1>
    <p>  </p>
</div>

<!-- Carousel -->
<h2 class="title text-center">Featured Items</h2>
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="Images/ProductImages/bmwM1000RRImage1.jfif" class="d-block" style="width:50%">
    </div>
    <div class="carousel-item">
      <img src="Images/ProductImages/HondaFuryImage1.jfif" class="d-block" style="width:50%">
    </div>
    <div class="carousel-item">
      <img src="Images/ProductImages/HondaNaviImage1.jfif" class="d-block" style="width:50%">
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

</div>

</body>